//
// Quantum Script Extension JSON
//
// Copyright (c) 2020 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "quantum-script-extension-json-version.hpp"
#include "quantum-script-extension-json-copyright.hpp"

XYO_APPLICATION_VERSION_INFO(QUANTUM_SCRIPT_EXTENSION_JSON,"qse-json.dll","Quantum Script Extension JSON")

